<<<<<<< HEAD
<form action="/productos" method="post">
  <input type="text" name="titulo" placeholder="Titulo"/>
  <input type="text" name="precio" placeholder="Precio"/>
  <input type="text" name="thumbnail" placeholder="Thumbnail"/>
  <input type="submit"> <%= Enviar %> </input>
</form>

   <a href="/productos"><button> <%= Volver al formulario de carga %></button></a>
=======
form(action='/productos' method='post')
  input(type='text' name='titulo' placeholder='Titulo')
  input(type='text' name='precio' placeholder='Precio')
  input(type='text' name='thumbnail' placeholder='Thumbnail')
  input(type='submit')
  |  Enviar
a(href='/productos')
  button Volver al formulario de carga
>>>>>>> 54353657ceaf3186771ab011ce8fe05fd21aee64
