div
  h1.title Lista de productos
  table.product-list
    tr
      th T&iacute;tulo
      th Precio
      th Miniatura
    |          {{#if productos.leneth}}
    |         {{#each productos}}
    tr
      td  {{this.titulo}} 
      td  {{this.precio}} 
      td
        img(height='72px' width='72px' src='{{this.thumbnail}}')
    |          {{/each}}
    |          {{/if}}
  a(href='/')
    button Volver al formulario de carga
