<div>
     <h1 class="title">Lista de productos</h1>
    <table class="product-list">
         <tr>
            <th>Título</th>
            <th>Precio</th>
            <th>Miniatura</th>
         </tr>
         {{#if productos.leneth}}
        {{#each productos}}
         <tr>
            <td> {{this.titulo}} </td>
            <td> {{this.precio}} </td>
            <td><img height="72px" width="72px" src={{this.thumbnail}}> </td>
         </tr>
         {{/each}}
         {{/if}}
     </table>

     <a href="/"><button>Volver al formulario de carga</button></a>
</div>
